
#header {
    width: 100%;
    height: 120px;
    margin: auto;
    clear: both;
}

#title {
    width: 40%;
    float: left;
    background-color: white;
    font-size: 30px;
    font-family: fantasy;
    padding: 14px 0px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    float: right;
    font-family: "Lucida Grande", Helvetica, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #FF4500;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /*background-color: #ddd;*/
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    /*background-color: #FF5656;*/
    color: #FFA500;
}


