@this(config: play.api.Configuration)
@()

@main() {
    <div id="header">
        <div id="title">
            <a >Qirun Chen</a>
        </div>
        <div class="topnav">
            <a class="active" href="/">HOME</a>
            <a href="/projects">PROJECTS</a>
            <a href="https://github.com/OopsRyan" target="_blank">GITHUB</a>
            @*<a href="#Contact">Contact</a>*@
            <a href="/resources/qirun_chen_resume.pdf" target="_blank">RESUME</a>
        </div>
    </div>
    <hr>
    <div class="introduction">
        <div class="div_selfie">
            <img class="selfie" src="@routes.Assets.versioned("images/selfie.jpg")" alt="selfie">
        </div>
        <div class="div_description">
            @for(s <- config.get[Seq[String]]("introduction.qchen")) {
                <p>@s</p>
            }
        </div>
    </div>
    <hr>
}
