@this(config: play.api.Configuration)
@()

@main() {
    <div id="header">
        <div id="title">
            <a >Qirun Chen</a>
        </div>
        <div class="topnav">
            <a class="active" href="/">HOME</a>
            <a href="/projects">PROJECTS</a>
            <a href="https://github.com/OopsRyan" target="_blank">GITHUB</a>
            @*<a href="#Contact">Contact</a>*@
            <a href="/resources/qirun_chen_resume.pdf" target="_blank">RESUME</a>
        </div>
    </div>
    <hr>
    <h1>@config.get[String]("introduction.qchen")</h1>
    <hr>
}
