@this(config: play.api.Configuration)
@()

@main() {
    <div id="header">
        <div id="title">
            <a >Qirun Chen</a>
        </div>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/projects">Projects</a>
            <a href="https://github.com/OopsRyan" target="_blank">Github</a>
            @*<a href="#Contact">Contact</a>*@
            <a href="#Map">Map</a>
        </div>
    </div>
    <hr>
    <h1>@config.get[String]("introduction.qchen")</h1>
}