@this(config: play.api.Configuration)
@()

@main() {
    <div id="header" xmlns="http://www.w3.org/1999/html">
        <div id="title">
            <a>Qirun Chen</a>
        </div>
        <div class="topnav">
            <a href="/">HOME</a>
            <a class="active" href="/projects">PROJECTS</a>
            <a href="https://github.com/OopsRyan" target="_blank">GITHUB</a>
            @*<a href="#Contact">Contact</a>*@
            <a href="/resources/qirun_chen_resume.pdf" target="_blank">RESUME</a>
        </div>
    </div>
    <h2 class="sectionName">Zalando SE</h2>
    <hr>
    <ul class="projectList">
        <li><a class="projectName">Customer Segmentation
            <a class="assignmentName" target="_blank"
            href="https://corporate.zalando.com/en/newsroom/en/stories/ztypes-how-zalando-media-solutions-reimagines-customer-segmentation">(zTypes)
            </a>:</a>
            @config.get[String]("projects.zalando.CustomerSegmentation")</li><br>
        <li><a class="projectName">Dev Environment: </a>
            @config.get[String]("projects.zalando.DevEnvironment")</li><br>
        <li><a class="projectName">Modelling: </a>
            @config.get[String]("projects.zalando.Modelling")</li><br>
        <li><a class="projectName">Evaluation: </a>
            @config.get[String]("projects.zalando.Evaluation")</li><br>
        <li><a class="projectName">JobMonitoring: </a>
            @config.get[String]("projects.zalando.JobMonitoring")</li>
    </ul>
    <hr><br>

    <h2 class="sectionName">Assignments<a style="font-size: 15px;float: right; padding-top: 13px">click on names to see demos</a></h2>
    <hr>
    <ul class="projectList">
        <li><a class="assignmentName" href="/projects/gapminder">Data visualisation - Channelling Hans: </a>
            @config.get[String]("projects.assignments.gapminder")</li><br>
        <li><a class="assignmentName" href="@routes.Assets.versioned("superlearner/SuperLearnerClassifier.html")" target="_blank">Super Learner Classifier - Stacked Ensemble Algorithm: </a>
            @config.get[String]("projects.assignments.superlearner")</li><br>
        <li><a class="assignmentName" href="@routes.Assets.versioned("mlp/mlp.html")" target="_blank">Multi-layer Perceptron: </a>
            @config.get[String]("projects.assignments.mlp")</li></li>
    </ul>
    <hr><br><br>
}