@this(config: play.api.Configuration)
@()

@main() {
    <div id="header">
        <div id="title">
            <a>Qirun Chen</a>
        </div>
        <div class="topnav">
            <a href="/">HOME</a>
            <a class="active" href="/projects">PROJECTS</a>
            <a href="https://github.com/OopsRyan" target="_blank">GITHUB</a>
            @*<a href="#Contact">Contact</a>*@
            <a href="#Map">AMP</a>
        </div>
    </div>
    <hr>
    <h2 class="content">@config.get[String]("introduction.qchen")</h2>
    <a href="@routes.Assets.versioned("superlearner/SuperLearnerClassifier.html")" target="_blank">SuperLearner</a>
    <a href="@routes.Assets.versioned("mlp/mlp.html")" target="_blank">Multi-layer Perceptron</a>
}