@()

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Qirun Chen</title>

            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.versioned("vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
        <link href="@routes.Assets.versioned("vendor/fontawesome-free/css/all.min.css")" rel="stylesheet">

            <!-- Custom styles for this template -->
        <link href="@routes.Assets.versioned("stylesheets/resume.min.css")" rel="stylesheet">

    </head>

    <body id="page-top">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Qirun Chen</span>
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@routes.Assets.versioned("images/selfie.jpg")" alt="">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/resources/qirun_chen_resume.pdf" target="_blank">Resume</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
                <div class="my-auto">
                    <h1 class="mb-0">Qirun
                        <span class="text-primary">Chen</span>
                    </h1>
                    <div class="subheading mb-5">41 Cloister Ave, Blackrock, CO Dublin · 353-87-093-7260 ·
                        <a href="mailto:qirun.chen@@ucdconnect.ie">qirun.chen@@ucdconnect.ie</a>
                    </div>
                    <p class="lead mb-5">I am Qirun Chen, a M.Sc Computer Science graduate student from University College Dublin. I am interested in Machine Learning and Software Engineering.</p>
                    <p class="lead mb-5">This summer at Zalando, I worked as a Data Science intern about Customer Segementation. Prior to the master course; I was at an IT company in China working on Java EE and a little Android development.</p>
                    <p class="lead mb-5">In my free time, I like to learn something advanced (currently Scala) and play ping-pong.</p>

                    <div class="social-icons">
                        <a href="http://www.linkedin.com/in/qirun-chen/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/OopsRyan/" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
                <div class="my-auto">
                    <h2 class="mb-5">Education</h2>

                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">University College Dublin</h3>
                            <div class="subheading mb-3">Master of Science</div>
                            <div>Computer Science - Data Science</div>
                            <p>GPA: 3.48</p>
                            <div>Main Modules</div>
                            <div>Data Mining(Rapid Miner) · Machine Learning(Weka) · Text Analytics · Information
                                Visualisation(D3.js and Tableau) · Advanced Machine Learning(scikit-learn, Pandas, and Keras) · Exploring Ruby
                                · Connectionist Computing(ANNs) · Big Data Programming(bash, Hadoop MapReduce, and Spark) · Advanced Data Structures in
                                Java(Algorithms) · Recommender Systems & Collective Intelligence(Collaborative Filtering and Crowdsourcing)</div>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">September 2017 - September 2018</span>
                        </div>
                    </div>

                    <div class="resume-item d-flex flex-column flex-md-row">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Ningbo University</h3>
                            <div class="subheading mb-3">Bachelor of Engineering</div>
                            <div>Software Engineering</div>
                            <p>GPA: 3.84</p>
                            <div>Main Modules</div>
                            <div>Programming in C · Advanced Mathematics · Data Structure and Algorithm · Object Oriented
                                Programming(C++) · Discrete Mathematics · Linear Algebra · Probability and Statistics
                                · Principles of Database · C Sharp Programming · Java Programming · Computer Organization and Architecture
                                · XML Technology · Computer Networks and Communication · .Net Framework and Programming · Operating System(Linux)
                                · Software Test Technology(JUnit) · J2EE Framework and Design Technology · Software Quality and Project Management
                            </div>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">September 2012 - June 2016</span>
                        </div>
                    </div>

                </div>
            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
                <div class="my-auto">
                    <h2 class="mb-5">Experience</h2>

                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0"><a href="https://www.corporate.zalando.com/en" target="_blank">Zalando SE</a></h3>
                            <div class="subheading mb-3">Data Science Intern</div>
                            <p>Zalando SE is the biggest online fashion store in Europe. I was involved in the customer segmentation project called <a href="https://corporate.zalando.com/en/newsroom/en/stories/ztypes-how-zalando-media-solutions-reimagines-customer-segmentation" target="_blank">zTypes</a>.
They are based on atucal users, who have been classified into socio-demographic-related segments based on their fashion buying patterns. For example, people in the zType CultureElite are more likely to buy brands like Hugo Boss, while young people in the zType Hip Popper prefer Adidas and Nike.
                            </p>
                            <p>I built a multinomial model to classify customers into these zTypes according to their browse data from last several months. This model was based on Logistic Regression model in Spark Machine Learning library. Its performance was evaluated using Lift Analysis against the benchmark.
                            </p>
                            <p>The development environment was based on AWS, standardised Apache Spark and Scala dependencies. The pipeline was deployed on EMR using AWS Data Pipeline. </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">Summer 2018</span>
                        </div>
                    </div>

                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">Uni-tech Zhejiang</h3>
                            <div class="subheading mb-3">Software Engineer Intern</div>
                            <p>
                                Uni-tech with around 300 employees serves local authorities and banks as a software development company in China. I was mainly responsible for a task management system.
                                Local authorities needed to supervise legal requirements like sanitary conditions in catering enterprises. This system helped supervisors assign tasks to officers who would perform them on site and record on the mobile application.
                            </p>
                            <p>
                                The system consisted of three parts, back-end web app, Android app, and web service. Supervisors assigned tasks and analysed follow-ups by back-end app.
                                Officers used maps on Android app to find the location of target enterprises, and recorded details on the app. Web service was the bridge between Android app and database.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">September 2015 - March 2016</span>
                        </div>
                    </div>
                </div>

            </section>
            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
                <div class="my-auto">
                    <h2 class="mb-5">Projects</h2>

                    <div class="resume-item d-flex flex-column flex-md-row mb-5" id="gapminder">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0"><a href="https://www.gapminder.org/tools" target="_blank">Gapminder Bubbles</a></h3>
                            <div class="subheading mb-3">
                                Data Visualisation ☞
                                <span class="text-primary"><a href="/projects/gapminder" target="_blank">Demo</a></span>
                            </div>
                            <p>
                                Gapminder Bubbles is a tool developed by Hans Rosling, a public health expert. The interactive bubble chart presents an animation with statistical and historical data about the development of the countries of the world with respect to lifespan, income, and population.

                            </p>
                            <p>
                                I recreated this bubble chart according to the <a href="https://www.gapminder.org/tools" target="_blank">live version</a>
                                using <a href="https://d3js.org/" target="_blank">d3.js</a>,
                                a Javascript library for manipulating documents based on data.
The bubble plot representing the countries of the world. The population of each country mapped to bubble area. These countries are described by GDP and Life Expectancy mapped to x and y axis position.
                            </p>
                            <p>
                                <br><img src="@routes.Assets.versioned("images/gapMinder.gif")" alt="gapMinder">
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">   </span>
                        </div>
                    </div>

                    <div class="resume-item d-flex flex-column flex-md-row mb-5" id="superlearner">
                        <div class="resume-content mr-auto" >
                            <h3 class="mb-0"><a href="https://biostats.bepress.com/ucbbiostat/paper266/" target="_blank">Super Learner</a></h3>
                            <div class="subheading mb-3" >
                                Stacked Ensemble Algorithm ☞
                                    <span class="text-primary"><a href="/projects/superlearner" target="_blank">Demo</a></span>
                            </div>
                            <p>
                                The Super Learner is a heterogeneous stacked ensemble classifier described in
                                <a href="https://biostats.bepress.com/ucbbiostat/paper266/" target="_blank">Super Learner In Prediction</a>(van der Laan et al, 2007).
    This is a classification model that uses a set of base classifiers of different types, the output of which are combined in another classifier at the stacked layer.
                            </p>
                            <p>
                                The figure below shows a flow diagram of the Super Learner process. The base classifiers are trained and their outputs are combined along with the training dataset labels into a training set for the stack layer classifier.
                                To avoid overfitting the generation of the stacked layer training set uses a k-fold cross validation process (described as V-fold in the figure).
                            </p>
                            <p>
                                The super learner class inheriting from the base estimator class of scikit-learn is compatible with its APIs like
                                GridSearchCV. The classifier at the stacked layer can be trained on label or probability outputs from the base classifiers by
                                indicating a parameter. Also provided a method to measure the correlation between base classifiers for improving prediction performance.
                            </p>
                            <p>
                                <img style="width:100%;height:100%;" src="@routes.Assets.versioned("images/superLearnerStructure.jpg")" alt="superLearner">
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary"> </span>
                        </div>
                    </div>

                    <div class="resume-item d-flex flex-column flex-md-row mb-5" id="mlp">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0"><a href="/projects/mlp" target="_blank">Multi-layer Perceptron</a></h3>
                            <div class="subheading mb-3">
                                Backpropagation Algorithm ☞
                                <span class="text-primary"><a href="/projects/mlp" target="_blank">Demo</a></span>
                            </div>
                            <p>
Implemented a simple multi-layer perceptron using Backpropagation algorithm with stochastic gradient descent. It can learn XOR and Sin functions very well. Also trained the model on public Letter Recognition Data Set(clean and extracted features) to recognise people’s handwriting.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary"> </span>
                        </div>
                    </div>
                </div>

            </section>

            <hr class="m-0">
        </div>

            <!-- Bootstrap core JavaScript -->
        <script src="@routes.Assets.versioned("vendor/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

            <!-- Plugin JavaScript -->
        <script src="@routes.Assets.versioned("vendor/jquery-easing/jquery.easing.min.js")"></script>

            <!-- Custom scripts for this template -->
        <script src="@routes.Assets.versioned("javascripts/resume.min.js")"></script>

    </body>

</html>
